<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>541799415730-7vr5bcepi0go958do71023tshovl0s3m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.541799415730-7vr5bcepi0go958do71023tshovl0s3m</string>
	<key>API_KEY</key>
	<string>AIzaSyC4ST28-omUAEl-y0vgFoa4w1TTuYgHutc</string>
	<key>GCM_SENDER_ID</key>
	<string>541799415730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.azicii.picability</string>
	<key>PROJECT_ID</key>
	<string>picability2-e94b7</string>
	<key>STORAGE_BUCKET</key>
	<string>picability2-e94b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541799415730:ios:dcfffa7790e215c0796eab</string>
</dict>
</plist>